<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="gestion-bebida"
     routerLinkActive="router-link-active"
     class="button">
   
    <span>Crear / Editar Bebidas</span>
  </a>   |  
  
  <a routerLink="gestion-plato"
     routerLinkActive="router-link-active"
     class="button">
    
    <span>Crear / Editar Platos</span>
  </a>   |

  <a routerLink="gestion-cliente"
     routerLinkActive="router-link-active"
     class="button">
   
    <span>Crear / Editar Clientes</span>
  </a>   |


  <a routerLink="gestion-factura"
     routerLinkActive="router-link-active"
     class="button">
    
    <span>Crear Factura</span>
  </a>   
</header>